<h1 class="text-4xl text-left font-bold m-14 head-title">Dashboard</h1>


<div class="chart-one">
    <h3 class="head-title text-center">Patients Gender Statistic</h3>
<canvas id="myChart" width="400" height="400"></canvas>
</div>
<% let male = 0 %>
<% let female = 0 %>
<% patients.forEach(patient => { %>
    <% if (patient.gender == 'M') { %>
        <% male++ %>
    <% } else { %>
        <% female++ %>
    <% } 
%> <% }) %>

<script>
    const data = {
        labels: [
            'Male',
            'Female',
        ],
        datasets: [{
            label: 'Patients Genders',
            data: [ "<%= male %>", "<%= female %>"],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(75, 192, 192)',
            ]
        }]
    };
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: data,
        options: {}
    });
    
    
</script>

